<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.gugu.BoardMapper">

	<sql id="condition">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="searchType != null and searchKeyword != null">
				<if test='searchType == "T"'>
					AND TITLE LIKE '%' || #{searchKeyword} || '%'
				</if>
				<if test='searchType == "C"'>
					AND CONTENT LIKE '%' || #{searchKeyword} || '%'
				</if>
				<if test='searchType == "W"'>
					AND WRITER LIKE '%' || #{searchKeyword} || '%'
				</if>
				<if test='searchType == "TC"'>
					AND 
					(
						TITLE LIKE '%' || #{searchKeyword} || '%'
						OR	
						WRITER LIKE '%' || #{searchKeyword} || '%'
					)
				</if>
				<if test='searchType == "CW"'>
					AND 
					(
						CONTENT LIKE '%' || #{searchKeyword} || '%'
						OR	
						WRITER LIKE '%' || #{searchKeyword} || '%'
					)
				</if>
				<if test='searchType == "TCW"'>
					AND 
					(
						TITLE LIKE '%' || #{searchKeyword} || '%'
						OR	
						CONTENT LIKE '%' || #{searchKeyword} || '%'
						OR	
						WRITER LIKE '%' || #{searchKeyword} || '%'
					)
				</if>
			</if>
		</trim>		
	</sql>

	<insert 
		id="create" 
	>
	<selectKey keyProperty="bno" order="BEFORE" resultType="int">
		SELECT SEQ_TBL_BOARD.NEXTVAL FROM DUAL
	</selectKey>
		INSERT INTO TBL_BOARD (BNO , TITLE, CONTENT , WRITER)
		VALUES ( #{bno}, #{title}, #{content}, #{writer} )
	</insert>

	<select 
		id="read" resultType="boardData"
	>
		SELECT BNO, TITLE, CONTENT, WRITER, REGDATE
		FROM TBL_BOARD TB
		WHERE BNO = #{bno}
	</select>
	
	<update
		id="update" 
	>
		UPDATE TBL_BOARD SET CONTENT = #{content}, TITLE = #{title}  WHERE BNO = #{bno}
	</update>
	
	<delete 
		id="delete"
	>
		DELETE FROM TBL_BOARD WHERE BNO = #{bno}
	</delete>
	
	<select 
		id="listPage" resultType="boardData" parameterType="boardParam"
	>
	<![CDATA[
		SELECT
			BNO AS bno
			, TITLE AS title
			, CONTENT AS content
			, WRITER AS writer
			, REGDATE AS regdate
			, VIEWCNT AS viewcnt
			, (SELECT COUNT(1) FROM TBL_REPLY TR WHERE TR.BNO = Z.BNO ) AS replycnt 
		FROM
			(
				SELECT
					Y.*
				FROM
					(
						SELECT
							ROWNUM RN, X.*
						FROM
							(
								SELECT
									TB.BNO, TB.TITLE, TB.CONTENT, TB.WRITER, TB.REGDATE, TB.VIEWCNT
								FROM
									TBL_BOARD TB
	]]>
								<include refid="condition" />
	<![CDATA[
	
								ORDER BY
									TB.BNO DESC
							) X
						WHERE
							ROWNUM <= ${rowEnd}
					) Y
				WHERE
					Y.RN > ${rowStart}
			) Z
	]]>
	</select>
	
	<select 
		id="listCnt" resultType="Long" parameterType="boardParam"
	>
	<![CDATA[
		SELECT
			COUNT(1)
		FROM
			TBL_BOARD TB
	]]>
		<include refid="condition" />
	</select>
	
	<update 
		id="updateCnt" parameterType="boardParam"
	>
	<![CDATA[
		UPDATE TBL_BOARD SET VIEWCNT = VIEWCNT + 1 WHERE BNO = #{bno}
	]]>
	</update>
	
	<select id="selectAttach" resultType="String">
	<![CDATA[
		SELECT FULLNAME FROM TBL_ATTACH WHERE BNO = #{bno}
	]]>
	</select>
	
	<delete id="deleteAllAttach">
	<![CDATA[
		DELETE FROM TBL_ATTACH WHERE BNO = #{bno}
	]]>
	</delete>
	
	<insert 
		id="insertAttach" parameterType="boardParam"
	>
	<![CDATA[
		INSERT
			INTO
			TBL_ATTACH (
				BNO, FULLNAME , REGDATE
			)
		VALUES (
				#{bno}, #{fileName}, SYSDATE
			)
	]]>
	</insert>

</mapper>