<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- mybatis 해당 패키지 밑으로 @Alias 탐색 -->
	<typeAliases>
		<package name="com.coding.gugu" />
	</typeAliases>
	
</configuration>